<section id="signup">
  <form method="post" action="/users">
    <h1>Signup for Trails Alpha</h1>
    <p>Let's make an amazing tool together.</p>
    <% if flash[:notice] -%>
      <p>
        <%#= errors_for :user %>
      </p>
    <% end -%>
    <fieldset>
      <label>Name</label>
      <input type="text" name="user[name]"
        placeholder="your@emailaddress.com" required />
    </fieldset>
    <fieldset>
      <label>Email</label>
      <input type="email" name="user[email]"
        placeholder="your@emailaddress.com" required />
    </fieldset>
    <input type="submit" value="Create my account" />
  </form>
</section>
