<div id="header">
   <div>
     <h1><a href="http://trails.es/">Trails.</a></h1>
        <ul class="links">
		  <li class="current">Trails: time &amp; money</li>
		<li><a href="http://twitter.com/trailstracks">Follow on Twitter</a></li>
		  <li><a href="http://process.trails.es">Blog</a></li>
	</ul>
	
      <!--
      <a href="http://problem.wufoo.com/forms/how-much-would-you-pay/" class="sticker iframe">How much would you pay?</a>
      -->	
		
      <form action="/session" method="post" id="loginform">
        <input id="session_email" name="session[email]" size="20" type="text" value="Email" />
        <div class="password"><label for="session_password" class="overlabel">Password</label><input id="session_password" name="session[password]" size="20" type="password" /></div>
        <input type="image" name="commit" src="images/login.png" id="login-btn" />
      </form>
    </div>
</div>

<div id="page">
   <div id="content">
      <div class="box">
        <h2>Trails tracks time spent and money earned.</h2>

        <h3>It builds your invoices as you track time, transforming <br/>an administrative chore into an engaging routine. The new tool for freelancers the world over, coming in 2014.</h3>
        <h3>
          Sign up for early access:
        </h3>
          <form action="http://email.problem.la/t/r/s/jttyljk/" method="post" id="subForm">

          <div>
          <span class="label"><label for="jttyljk-jttyljk">Email</label></span>
          <span><input type="text" name="cm-jttyljk-jttyljk" id="jttyljk-jttyljk" size="25" /></span> <span class="button"><input type="submit" value="Sign up" /></span>
          </div>
          
          </form>
        <!-- <p>
            <a href="images/sshot.png"><img src="images/sshot-thumb.png" alt="Trails App Screenshot" /></a>
       	    </p>-->
      </div>	
      <div id="footer">
        <p>Copyright &copy; 2014
        <br/>Photo by <a href="http://belitsky.info">Dmitry Belitsky</a>.
        <br/>Follow us on <a href="http://twitter.com/trailstracks">Twitter</a> / <a href="mailto:support@trails.es">support@trails.es</a></p>
      </div>
   </div>
</div>
