<header>
  <nav role="navigation">
    <ul>
      <li>
        <a href="https://twitter.com/intent/follow?screen_name=trailstracks" target="_blank">
          Follow
        </a>
      </li>
      <li>
        <a href="/auth/google">Log in</a>
      </li>
    </ul>
  </nav>
</header>
<article>
  <h1>Trails</h1>
  <p>
    A striking new tool for freelancers.
    Track time spent and money earned.
    Make the menial elegant,
    the monotonous fun.
  </p>
</article>
<form action="https://email.problem.la/t/r/s/jttyljk/" method="post">
  <label for="emailsubscription">Sign up for early access:</label>
  <input type="email" name="cm-jttyljk-jttyljk" id="emailsubscription"
    placeholder="your email address" autofocus>
  <input type="submit" value="Submit">
</form>
<p>
  We'll email you twice. Once to confirm, and
  again when we have something to show.
</p>
