<div class="blank_list_footer">
  <span class="toolbar external"></span>
  <span class="status"></span>
  <span class="start border"></span>
  <span class="description border"></span>
  <span class="rate border"></span>
  <span class="earnings border"></span>
  <span class="duration border"></span>
  <span class="external_bars"></span>
</div>
