<tr class="blank_list_footer">
  <td class="toolbar external"></td>
  <td class="status"></td>
  <td class="start border"></td>
  <td class="description border"></td>
  <td class="rate border"></td>
  <td class="earnings border"></td>
  <td class="duration border"></td>
  <td class="external_bars"></td>
</tr>
