@import 'reset-fonts';
@import 'font-awesome';

ul table td {
  border: 0px solid blue;
}

table td {
  border: 0px solid red;
}

ul {
  min-height: 10px;
}

ol {
  min-height: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 11px;
  margin-left: 0px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav {
  height: 40px;
  width: 100%;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: auto;
  height: 40px;
  float: right;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  color: #aaaaaa;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}

nav li a {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

nav a#pull {
  display: none;
}

#task_lists {
  left: 10px;
  top: 150px;
}
#task_lists td, #task_lists th, tr.task td {
  padding: 3px;
}

#task_list_commands {
  text-align: right;
  margin-right: 5px;
  margin-bottom: 10px;
}
#task_list_commands a {
  color: #006699;
  text-decoration: underline;
  border: 2px solid #FFF;
}
#task_list_commands a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #006699;
  border: 2px solid #006699;
}
#task_list_commands a:visited {
  text-decoration: underline;
}

.grand_total {
  background-color: #99cccc;
  color: #FFF;
  text-align: right;
}
.grand_total .fade {
  color: #cccccc;
}
.grand_total .colon {
  color: white;
}
.grand_total .colon .fade {
  color: white;
}

.task_list {
  background-color: #f7f7e7;
}
.task_list .external {
  background-color: #fff;
}
.task_list .toolbar * {
  visibility: hidden;
}
.task_list:hover .toolbar {
  background-color: #f7f7e7;
}
.task_list:hover .toolbar * {
  visibility: visible;
}
.task_list:hover .toolbar a {
  color: #990000;
}

tr.task_list td {
  height: 40px;
}

th.title {
  color: black;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

th.new_task {
  text-align: right;
}
th.new_task a {
  color: #006699;
  border: 2px solid #f7f7e7;
  text-decoration: underline;
}
th.new_task a:hover {
  background-color: #006699;
  border: 2px solid #006699;
  text-decoration: none;
  color: #f7f7e7;
}
th.new_task a:visited {
  text-decoration: underline;
}

.duration {
  color: #666666;
  text-align: right;
}
.duration .colonTick {
  color: white;
}

.earnings {
  color: black;
}

tr.blank_list_footer {
  height: 18px;
}

tr.blank_task {
  height: 1px;
  font-size: 1px;
  line-height: 0px;
  margin: 0;
  padding: 0;
}
tr.blank_task td {
  height: 1px;
  padding: 0px;
}

tr.task td {
  height: 25px;
}
tr.task td.border {
  border-bottom: 1px solid #eeeeee;
}
tr.task .task_submit {
  text-align: right;
  height: 30px;
}

.task {
  font: "Helvetica Neue", Helvetica, Arial;
  size: 11px;
  cursor: pointer;
}
.task .toolbar * {
  visibility: hidden;
}
.task .toolbar a {
  vertical-align: top;
  color: #990000;
  border: 2px solid #f7f7e7;
}
.task .toolbar a:hover {
  text-decoration: underline;
  color: #990000;
  border: 2px solid #f7f7e7;
  background-color: #f7f7e7;
}

.task:hover .toolbar * {
  visibility: visible;
}
.task a {
  text-decoration: underline;
}
.task a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #669966;
}
.task a:visited {
  text-decoration: underline;
}

.delete {
  padding-top: 15px;
  height: 0px;
  width: 15px;
  display: block;
  float: left;
  background-image: url('Trash.png');
  background-repeat: no-repeat;
  background-position: 0px left;
  overflow: hidden;
  border: none !important;
  font-size: 1px;
  background-color: none;
}
.delete:hover {
  background-position: -14px left;
  background-color: none;
}

td.status {
  min-width: 18px;
}

.start {
  min-width: 32px;
}
.start a {
  color: #333333;
  border: 2px solid #FFF;
}
.task:hover  .start a {
  color: #FFF;
  text-decoration: none;
  background-color: #669966;
  border: 2px solid #669966;
}
.start a:visited {
  text-decoration: underline;
}
.start .stop_task a {
  color: #990000;
}
.task:hover .start .stop_task a {
  color: #FFF;
  text-decoration: none;
  background-color: black;
}
.start .stop_task a:visited {
  text-decoration: underline;
}

.task_list_container_row td {
  text-align: center;
}
.task_list_container_row td hr {
  height: 1px;
  border: 0;
  color: #cccccc;
  background-color: #cccccc;
  width: 95%;
}

.task_form {
  background-color: #e3eeec;
}
.task_form .description {
  min-width: 325px;
}
.task_form .title {
  width: 270px;
}
.task_form .task_title {
  min-width: 308px;
}
.task_form .task_title #task_description {
  margin-left: 1em;
  width: 287px;
}
.task_form .task_title #task_rate[readonly] {
  background-color: #CCC;
  color: #999;
}
.task_form .rate {
  width: 139px;
}
.task_form .toolbar, .task_form .status {
  background-color: white;
}
.task_form input[name='task[description]'] {
  width: 250px;
  height: 18px;
}
.task_form:hover {
  background-color: #e3eeec;
}

.task_container.sortable-ghost {
  background-color: #E4F7CF;
}

.external_bars, .submit {
  background-color: white;
  text-align: left;
}

/*
.external_bars {
  width: 1000px;
}
*/

.task_form > td:nth-child(2) {
  border-bottom: 1px solid #cdcdcd;
  min-width: 421px;
}
.task_form > td:nth-child(2) > fieldset {
  padding: 5px 10px;
}
.task_form > td:nth-child(2) .submit {
  background-color: #e3eeec;
}

.description {
  min-width: 200px;
}

.rate {
  min-width: 40px;
  color: #666666;
  text-align: right;
}
.task:not(.task_form):not(.complete):hover .rate {
  color: #669966;
}

.default_rate {
  text-align: right;
}

.task_form .earnings,
.task_form .duration {
  display: inline-block;
}

.earnings {
  min-width: 55px;
  text-align: right;
}

.fade {
  color: #aaaaaa;
}

.duration {
  min-width: 40px;
  color: #666666;
}
.task:not(.task_form):not(.complete):hover .duration {
  color: #669966;
}
.task_form .duration {
  float: right;
  margin-top: .3em
}

.toolbar {
  width: 60px;
  min-width: 60px;
}

.active {
  color: #669933;
}
.active .description {
  font-weight: italic;
}

.external_bars .duration_bar  {
  height: 2px;
  width: 0px;
}

.active .external_bars .duration_bar {
  background-color: #99cc99;
}

.stopped .external_bars .duration_bar {
  background-color: #666666;
}
.complete .external_bars .duration_bar  {
  background-color: #999999;
}

.complete * {
  color: #aaaaaa;
}

.default_rate_check {
  margin-left: 50px;
  display: inline-block
}
.default_rate_check span {
  text-decoration: underline;
}

.slider_row {
   text-align: center;
}

.slider_handle {
  background: url(slider_handle.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  cursor: move;
  position: absolute;
  top: 3px;
}

.slider_handle_hour {
  background: url(slider_handle_hour.png);
  background-repeat: no-repeat;
}

.slider_track {
  background: url(bg-fader.gif);
  height: 28px;
  margin: 0 auto;
  position: relative;
}

input[name='task[rate]'], input[name='task_list[default_rate]'] {
  width: 50px;
  height: 18px;
}

input[name='task[description]'] {
  width: 150px;
  height: 18px;
}

input[name='task_list[title]'] {
  width: 250px;
  height: 18px;
}

input[type='text'] {
  border: 1px solid #ccc;
  height: 18px;
}

input[type='checkbox'] {
  vertical-align: middle;
}

#login {
  width: 290px;
  height: 200px;
  background-color: #f6f6f6;
  border-color: #CCC;
  border-width: 1px 1px 0 0;
  border-style: solid none none solid;
}

#signup {
  width: 300px;
  height: 300px;
  background-color: #f6f6f6;
  border-color: #CCC;
  border-width: 1px 1px 0 0;
  border-style: solid none none solid;
}

#login form {
  margin: 0;
  padding: 0;
  width: 280px;
}
#login form fieldset {
  padding: 10px;
  margin: 0 0 0 0;
}
#login form fieldset legend {
  margin: 10px 0 0 33px;
  font-size: 14px;
  color: #aaaaaa;
}
#login form fieldset label {
  display: block;
  width: 100px;
  float: left;
  text-align: right;
  margin-right: 20px;
}
#login form fieldset input, #login form fieldset select, #login form fieldset textarea {
  padding: 2px;
  height: 20px;
  color: #333333;
}
#login form fieldset li {
  text-align: right;
  display: block;
  margin: 10px 0px 0 0px;
}
#login form fieldset li #session_email {
  margin-left: 10px;
}
#login form fieldset li #session_password {
  border: 1px solid #cccccc;
  margin-left: 10px;
}
#login form fieldset li #submit {
  display: block;
  float: right;
}
#login form fieldset li #user_unencrypted_password {
  border: 1px solid #cccccc;
  margin-left: 10px;
}
#login form fieldset li #user_unencrypted_password_confirmation {
  border: 1px solid #cccccc;
  margin-left: 10px;
}

#notice {
  float: left;
  display: block;
  margin-top: -100px;
  margin-left: 310px;
  color: #990000;
  line-height: 15px;
  border-color: #aaaaaa;
  border-width: 1px 1px 1px 1px;
  border-style: dotted none dotted none;
  padding: 2px 0 2px;
  width: 130px;
}
#notice .please {
  color: #333333;
}

.list {
  margin: 0 auto;
  max-width: 50em;
  padding: 0 1em;
}

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


.drop-area {
  position: fixed;
  top: 50px;
  left: 100%;
  z-index: 99;
  width: 70%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #34495e;
  text-align: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(51%,0,0);
  transform: translate3d(51%,0,0);
}

.drop-area.show {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.drop-area > div {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s 0.1s;
  transition: transform 0.4s 0.1s;
  -webkit-transform: translate3d(50%,0,0);
  transform: translate3d(50%,0,0);
}

.drop-area.show > div {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.drop-area__item {
  position: relative;
  display: inline-block;
  margin: 3em 0 1em 2em;
  width: 12em;
  height: 12em;
  border-radius: 4px;
  background: #6686a7;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s, background 0.3s;
  transition: transform 0.3s, background 0.3s;
}

.drop-area__item.highlight {
  background: #84a4c4;
  -webkit-transform: scale3d(1.08,1.08,1);
  transform: scale3d(1.08,1.08,1);
}

.drop-area__item::before,
.drop-area__item::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: rgba(0,0,0,0.15);
  font-size: 1.5em;
  margin-top: -0.35em;
  font-family: FontAwesome;
  pointer-events: none;
}

.drop-area__item::before {
  content: '\f067';
}

.drop-feedback.drop-area__item::before {
  opacity: 0;
  -webkit-transform: scale3d(0,0,1);
  transform: scale3d(0,0,1);
}

.drop-area__item::after {
  color: rgba(52,73,94,0.6);
  content: '\f00c';
  font-size: 3em;
  margin-top: -0.5em;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale3d(2,2,1);
  transform: scale3d(2,2,1);
}

.drop-feedback.drop-area__item::after {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.dummy,
.dummy::after {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin: 0.25em 0;
  height: 0.65em;
  border-radius: 2px;
  background: rgba(255,255,255,0.1);
  -webkit-backface-visibility: hidden;
}

.dummy {
  width: 80%;
}

.dummy::after {
  width: 90%;
  content: '';
}

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.drop-area.show + .drop-overlay {
  opacity: 1;
}

.helper {
  position: absolute !important;
  margin: 0;
}

@media screen and (max-width: 50em) {
  .list__item {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 25.5em) {
  .grid {
    padding: 0 2em;

  }
}

