@import 'reset-fonts';
@import 'font-awesome';
@import 'simform';

$left-margin: 70px;
$invoices-scale: .2;

ul table td {
  border: 0px solid blue;
}

table td {
  border: 0px solid red;
}

ul {
  min-height: 10px;
}

ol {
  min-height: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 11px;
  margin-left: 0px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

nav {
  height: 40px;
  width: 100%;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: auto;
  height: 40px;
  float: right;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  color: #aaaaaa;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}

nav li a {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

nav a#pull {
  display: none;
}

#task_form {
  width: 500px;
}

#task_lists {
  left: 10px;
  top: 150px;
}
.task_list > span,
.task > span {
  display: inline-block;
}

#task_list_commands {
  display: inline-block;
  text-align: right;
  margin: 5px 5px 10px 421px;
}
#task_list_commands a {
  color: #006699;
  text-decoration: underline;
  border: 2px solid #FFF;
}
#task_list_commands a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #006699;
  border: 2px solid #006699;
}
#task_list_commands a:visited {
  text-decoration: underline;
}

.grand_total {
  background-color: #99cccc;
  color: #FFF;
  text-align: right;
  padding: .1em .5em;
  margin-right: -.3em;
}
.grand_total:first-child {
  margin-left: 342px
}
.grand_total .fade {
  color: #cccccc;
}
.grand_total .colon {
  color: white;
}
.grand_total .colon .fade {
  color: white;
}

.task_list {
  margin-left: $left-margin;
}
.task_list > .external {
  width: calc($left-margin -.6em);
  padding-left: .3em;
  padding-right: .3em;
}
.task_list > .external:first-child {
  margin-left: -$left-margin;
  margin-right: -.2em;
}
.task_list .toolbar a {
  color: #990000;
  visibility: hidden;
  vertical-align: top;
}
.task_list:hover .toolbar {
  background-color: #f7f7e7;
}
.task_list:hover .toolbar a {
  visibility: visible;
}

.task_list > span {
  padding-top: .7em;
  padding-bottom: .7em;
  font-size: 1.7em;
}
.task_list > span:not(.toolbar) {
  padding-left: .3em;
  padding-right: .3em;
}

section.task_list .title,
.task_list .new_task {
  background-color: #f7f7e7;
}

.task_list .title {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial;
  width: calc(268px - .6em);
}

.task_list a {
  font-size: .7em;
}

.task_list .new_task {
  text-align: right;
  margin-left: -.2em;
  width: calc(153px - .6em);
}
.task_list .new_task a {
  color: #006699;
  border: 2px solid #f7f7e7;
  text-decoration: underline;
}
.task_list .new_task a:hover {
  background-color: #006699;
  border: 2px solid #006699;
  text-decoration: none;
  color: #f7f7e7;
}
.task_list .new_task a:visited {
  text-decoration: underline;
}

.duration {
  color: #666666;
  text-align: right;
}
.duration .colonTick {
  color: white;
}

tr.blank_list_footer {
  height: 18px;
}

tr.blank_task {
  height: 1px;
  font-size: 1px;
  line-height: 0px;
  margin: 0;
  padding: 0;
}
tr.blank_task td {
  height: 1px;
  padding: 0px;
}

.task > span,
.total > span {
  height: 1.8em;
  padding: 1em .2em .3em;
  display: inline-block;
  vertical-align: bottom;
}
.task > span.border {
  border-bottom: 1px solid #eeeeee;
}
#invoices .task > span.border {
  border-bottom: 0 none;
}
.task .task_submit {
  text-align: right;
  padding-bottom: 1em;
}

.task {
  font: "Helvetica Neue", Helvetica, Arial;
  size: 11px;
  cursor: pointer;
}
.task .toolbar * {
  visibility: hidden;
}
.task .toolbar a {
  vertical-align: top;
  color: #990000;
  border: 2px solid #f7f7e7;
}
.task .toolbar a:hover {
  text-decoration: underline;
  color: #990000;
  border: 2px solid #f7f7e7;
  background-color: #f7f7e7;
}

.task:hover .toolbar * {
  visibility: visible;
}
.task a {
  text-decoration: underline;
}
.task a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #669966;
}
.task a:visited {
  text-decoration: underline;
}

.task .toolbar .delete {
  float: left;
  border: none !important;
  font-size: 1.15em;
  padding: 0 .2em;
  color: #666666;
}

.task .toolbar .delete:hover {
  color: #a12b2b;
}
td.status {
  min-width: 18px;
}

.start {
  min-width: 32px;
}
.start a {
  color: #333333;
  border: 2px solid #FFF;
}
.task:hover  .start a {
  color: #FFF;
  text-decoration: none;
  background-color: #669966;
  border: 2px solid #669966;
}
.start a:visited {
  text-decoration: underline;
}
.start .stop_task a {
  color: #990000;
}
.task:hover .start .stop_task a {
  color: #FFF;
  text-decoration: none;
  background-color: black;
}
.start .stop_task a:visited {
  text-decoration: underline;
}

.task_list_container_row td {
  text-align: center;
}
.task_list_container_row td hr {
  height: 1px;
  border: 0;
  color: #cccccc;
  background-color: #cccccc;
  width: 95%;
}

.task_form .description {
  min-width: 325px;
}
.task_form .title,
.task_list_form .title {
  width: 270px;
}
.task_form .task_title #task_description {
  margin-left: 1em;
  width: 287px;
}
.task_form .task_title #task_rate[readonly] {
  background-color: #CCC;
  color: #999;
}
.task_form .rate {
  width: 139px;
}
.task_form .toolbar, .task_form .status {
  background-color: white;
}
.task_form input[name='task[description]'] {
  width: 250px;
  height: 18px;
}

.task_container.sortable-ghost {
  background-color: #E4F7CF;
}

.external_bars, .submit {
  background-color: white;
  text-align: left;
}

.external_bars {
  width: 0;
}

.task_form,
.task_list_form {
  margin-left: $left-margin;
}
.task_form {
  background-color: #e3eeec;
  width: 423px;
}
.task_list_form {
  font-size: .6em;
}
.task_list_form > .title,
.task_list_form > .default_rate {
  background-color: #e3eeec;
  border-bottom: 1px solid #cdcdcd;
}
.task_list_form > .default_rate {
  width: 145px;
  margin-left: -.85em;
}
.task_form > fieldset {
  padding: 5px 10px;
}
.task_form .submit {
  background-color: #e3eeec;
}

.description {
  min-width: 200px;
}

.rate {
  min-width: 40px;
  color: #666666;
  text-align: right;
}
.task:not(.task_form):not(.complete):hover .rate {
  color: #669966;
}

.default_rate {
  text-align: right;
}

.earnings,
.duration {
  display: inline-block;
  display: inline-block;
}

.earnings {
  min-width: 55px;
  text-align: right;
  color: black;
}

.total .earnings {
  margin-left: 374px;
}

.fade {
  color: #aaaaaa;
}

.duration {
  min-width: 40px;
  color: #666666;
}
.task:not(.task_form):not(.complete):hover .duration {
  color: #669966;
}
.task_form .duration {
  float: right;
  margin-top: .3em;
}

.toolbar {
  width: 60px;
  min-width: 60px;
}

.active {
  color: #669933;
}
.active .description {
  font-weight: italic;
}

.external_bars .duration_bar  {
  height: 2px;
  width: 0px;
}

.active .external_bars .duration_bar {
  background-color: #99cc99;
}

.stopped .external_bars .duration_bar {
  background-color: #666666;
}
.complete .external_bars .duration_bar  {
  background-color: #999999;
}

.complete * {
  color: #aaaaaa;
}

.default_rate_check {
  margin-left: 50px;
  display: inline-block
}
.default_rate_check span {
  text-decoration: underline;
}

.slider_row {
   text-align: center;
}

.slider_handle {
  background: url(slider_handle.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  cursor: move;
  position: absolute;
  top: 3px;
}

.slider_handle_hour {
  background: url(slider_handle_hour.png);
  background-repeat: no-repeat;
}

.slider_track {
  background: url(bg-fader.gif);
  height: 28px;
  margin: 0 auto;
  position: relative;
}

input[name='task[rate]'], input[name='task_list[default_rate]'] {
  width: 50px;
  height: 18px;
}

input[name='task[description]'] {
  width: 150px;
  height: 18px;
}

input[name='task_list[title]'] {
  width: 250px;
  height: 18px;
}

#task_lists input[type='text'] {
  border: 1px solid #ccc;
  height: 18px;
}

#task_lists input[type='checkbox'] {
  vertical-align: middle;
}

#login {
  width: 290px;
  height: 200px;
  background-color: #f6f6f6;
  border-color: #CCC;
  border-width: 1px 1px 0 0;
  border-style: solid none none solid;
}

#signup {
  width: 300px;
  height: 300px;
  background-color: #f6f6f6;
  border-color: #CCC;
  border-width: 1px 1px 0 0;
  border-style: solid none none solid;
}

#login form {
  margin: 0;
  padding: 0;
  width: 280px;
}
#login form fieldset {
  padding: 10px;
  margin: 0 0 0 0;
}
#login form fieldset legend {
  margin: 10px 0 0 33px;
  font-size: 14px;
  color: #aaaaaa;
}
#login form fieldset label {
  display: block;
  width: 100px;
  float: left;
  text-align: right;
  margin-right: 20px;
}
#login form fieldset input, #login form fieldset select, #login form fieldset textarea {
  padding: 2px;
  height: 20px;
  color: #333333;
}
#login form fieldset li {
  text-align: right;
  display: block;
  margin: 10px 0px 0 0px;
}
#login form fieldset li #session_email {
  margin-left: 10px;
}
#login form fieldset li #session_password {
  border: 1px solid #cccccc;
  margin-left: 10px;
}
#login form fieldset li #submit {
  display: block;
  float: right;
}
#login form fieldset li #user_unencrypted_password {
  border: 1px solid #cccccc;
  margin-left: 10px;
}
#login form fieldset li #user_unencrypted_password_confirmation {
  border: 1px solid #cccccc;
  margin-left: 10px;
}

#notice {
  float: left;
  display: block;
  margin-top: -100px;
  margin-left: 310px;
  color: #990000;
  line-height: 15px;
  border-color: #aaaaaa;
  border-width: 1px 1px 1px 1px;
  border-style: dotted none dotted none;
  padding: 2px 0 2px;
  width: 130px;
}
#notice .please {
  color: #333333;
}

.list {
  margin: 0 auto;
  max-width: 50em;
  padding: 0 1em;
}

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


#invoices {
  position: fixed;
  top: 50px;
  left: 100%;
  width: calc(100% - 500px);
  height: 100%;
  text-align: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0,0,0) scale($invoices-scale);
  transform: translate3d(0,0,0);
}
#invoices.show {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  overflow: hidden;
}

#invoices > h2 {
  font-size: 2em;
  font-weight: bold;
  margin: .5em 1em;
  color: #666;
  cursor: pointer;
}

#invoices,
#invoices > h2:before {
  background-color: #f3f7ee;
}

#invoices > h2:before {
  font-family: FontAwesome;
  content: '\f0f6';
  display: inline-block;
  margin-left: -3em;
  padding: .5em .7em;
  margin-top: -.5em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#invoices.show > h2:before {
  display: none;
}

#invoices > ul {
  width: 500%;
  height: 500%;
  -webkit-transition: -webkit-transform 0.4s 0.1s;
  transition: transform 0.4s 0.1s;
  -webkit-transform: translate3d(50%,0,0);
  transform: translate3d(50%,0,0);
}

#invoices.show > ul {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  transform-origin: top left;
}

#invoices > ul > li {
  position: relative;
  display: inline-block;
  margin: 15em 10em 5em;
  padding: 2.5em 5em;
  width: 75em;
  height: 100em;
  border-radius: 4px;
  background: #ffffff;
  text-align: center;
  vertical-align: top;
  opacity: 1;
  transition: opacity .8s ease-out;
  -moz-transition: opacity .8s ease-out;
  -webkit-transition: opacity .8s ease-out;
  text-align: left;
  box-shadow: .5em .5em .5em #cccccc;
}
#invoices > ul.zoomed > li:not(.zoom) {
  opacity: 0;
}
#invoices.show > ul:not(.zoomed) > li {
  cursor: pointer;
}

#invoices header,
#invoices section {
  padding-top: 1em;
  padding-bottom: 1em;
}

#invoices header,
#invoices header > details,
#invoices section {
  padding-left: 20px;
  padding-right: 20px;
}

#invoices header {
  border-bottom: 2px solid #efefef;
}

#invoices header h3,
#invoices header p,
#invoices section h4,
#invoices section h4 + p {
  color: #527c22;
}

#invoices header h3,
#invoices header p {
  width: 45%;
}

#invoices header details {
  float: right;
  width: calc(50% - 40px);
  font-size: 2.5em;
  white-space: pre-line;
}

#invoices header h3 {
  font-size: 5em;
  line-height: 1em;
}

#invoices header p {
  font-size: 2.5em;
}

#invoices header + section {
  float: left;
  width: calc(50% - 40px);
}

#invoices section + section {
  padding-left: calc(50% + 20px);
}

#invoices section h4 {
  font-size: 3.3em;
  font-weight: bold;
}

#invoices section h4:before {
  color: #999999;
  font-size: .6em;
  line-height: 1.2em;
  display: block;
  font-weight: normal;
}

#invoices header + section h4:before {
  content: 'Attention'
}

#invoices section + section h4:before {
  content: 'Pay to the order of'
}

#invoices section p {
  white-space: pre-line;
}

#invoices section p {
  font-size: 2.25em;
  line-height: 1.1em;
  margin-top: .6em;
}

#invoices li > main {
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  min-height: 55%;
  position: relative;
}

#invoices li > main > ul {
  padding-top: 4em;
  position: absolute;
  height: calc(100% - 4em);
  width: 100%;
}

#invoices li > main > ul:after {
  content: '\00a0';
  position: absolute;
  width: 0px;
  top: 0;
  height: 100%;
  border-right: 2px solid #efefef;
  right: 23%;
}

#invoices li > main .submit {
  display: none;
}

#invoices main > ul section {
  padding: .5em 1em;
}

#invoices .task_container:nth-child(odd):not(.sortable-ghost) {
  background-color: #f8f7e9;
}

#invoices .task,
#invoices footer p {
  font-size: 2.5em;
}

#invoices .task {
  padding-top: .5em;
  padding-bottom: .5em;
}

#invoices .task > span {
  height: auto;
  padding-top: 0;
}

#invoices .task .external,
#invoices .task .status,
#invoices .task .start,
#invoices .task .rate,
#invoices .task .external_bars {
  display: none;
}

#invoices .task .description,
#invoices .task .earnings,
#invoices .task .duration {
  min-width: inherit;
  position: relative;
}

#invoices .task .description {
  width: 48%;
}

#invoices .task_container:first-child .description:before,
#invoices .task_container:first-child .earnings:before,
#invoices .task_container:first-child .duration:before {
  font-style: italic;
  position: absolute;
  margin-top: -1.8em;
  color: #666666;
}

#invoices .task_container:first-child .description:before {
  content: 'Description';
}

#invoices .task_container:first-child .earnings:before {
  content: 'Total';
}

#invoices .task_container:first-child .duration:before {
  content: 'Time';
}

#invoices .task .earnings,
#invoices .task .duration {
  width: 23%;
}

#invoices .task_container:first-child .duration:before,
#invoices .task_container:first-child .earnings:before {
  width: 5em;
  margin-left: -5em;
  right: 0;
}

#invoices .task .earnings {
  float: right;
}


#invoices footer p {
  text-align: right;
}

#invoices footer p:first-child {
  padding: .5em 1.2em;
  width: calc(77% - 1.2em * 2 - 2px);
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  color: #666666;
}

#invoices footer p:last-child {
  margin-left: calc(77% - 1.2em * 2 - 2px);
  color: #444444;
  padding-right: 1em;
}

#invoices footer p:last-child span {
  display: block;
  font-size: 1.5em;
}

#invoices li > fieldset {
  position: absolute;
  top: 0;
  width: 20em;
  right: -22em;
  transition: opacity .8s ease-out;
  -moz-transition: opacity .8s ease-out;
  -webkit-transition: opacity .8s ease-out;
}

#invoices > ul:not(.zoomed) li > fieldset {
  opacity: 0;
}

#invoices li > fieldset button {
  font-size: 3em;
  margin: .3em .2em;
}
