* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 160%;
  color: #666;
  background: #333 url(bg.jpg) left -900px ;
}

#content h1, 
#content h2, 
#content h3,
#subForm input,
#subForm label {
  font-family: "Helvetica Neue", Helvetica, Arial;
  line-height: 120%;
  color: #333;
} 

h3 {
  margin-bottom: 25px;
}

#content h2 {
  font-size: 50px;
}

#content h3 {
  font-weight: normal;
  font-size: 24px;
}

#header {
  height: 125px;
  width: 100%;
  margin-bottom: 40px;
  background: url(tr30.png);
  color: white;
}

#header div {
  width: 630px;
  margin: 0 auto;
  position: relative;
}

#header h1 {
  float: left;
  width: 86px;
  height: 35px;
  margin-top: 60px;
}

#header h1 a {
  display: block;
  width: 86px;
  height: 35px;
  background: url(trails-logo-tr.png) no-repeat;
  text-indent: -10000px;
  border: none;
}

#header h1 a:hover {
  background: url(trails-logo-tr-a.png) no-repeat;
}

#header ul {
  float: left;
  margin: 30px 10px 0 20px;
  list-style: none;
}

#header a, #footer a {
  color: white;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
}

#header a:hover, #footer a:hover, .signup #header a:hover {
  color: #333;
  border-color: #999;
}

#header a.sticker {
  display: block;
  position: absolute;
  width: 118px;
  height: 76px;
  left: 245px;
  top: 0;
  background: url(sticker.png) no-repeat;
  border: none;
  text-indent: -10000px;
}

#header a.sticker:hover {
  background: url(sticker-a.png) no-repeat;
}

#header #loginform {
  position: absolute;
  left: 390px;
  top: 30px;
}

#header #loginform div {
  width: 230px;
}

#loginform * {
  margin: 0;
  padding: 0;
}

#loginform input, #new_user input {
  padding: 3px 5px;
  color: #666;
}

#loginform input.login-pass, input#login-btn {
	float: left;
	margin-left: 5px;
	margin-top: -4px;
}

#loginform #session_email {
  width: 200px;
  margin-bottom: 10px;
  height: 17px;
  border: 1px solid #999;
  font-size: 11px;

}

#loginform #session_password, #loginform .session_password {
  margin: 0 0px 0 0;
  width: 135px;
  height: 17px;
  border: 1px solid #999;
  float: left;
}

#header form#loginform div {
  margin: 0px;
  width: 145px;
  float: left;
}

form input, label {
	font-size: 11px;
}

form div.password {
	position: relative;
}

label.overlabel {
	position: absolute;
	z-index: 1;
	color: #666;
	left: 6px;
	top: 3px;
}

div#slogan {
  width: 630px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#slogan h1 {
  width: 498px;
  height: 143px;
  background: url(home-slogan.png) no-repeat top left;
  text-indent: -10000px;
}
#slogan h2 {
  display: none;
}


#page {
  width: 630px;
  overflow: hidden;
  margin: 0 auto;
} 

#content {
  width: 610px;
  padding: 10px;
  background: url(tr30.png);
  float: left;
}

#footer {
  width: 590px;
  padding: 10px;
  background: url(tr30.png);
  float: left;
}

#footer {
  margin: 10px 0 0px 0;
  text-align: center;
  color: white;
  font-size: 14px;
  clear: both;
}

.box {
  padding: 50px 30px 50px 30px;
  background: white;
}

#sidebar {
  width: 230px;
  float: right;
  padding: 10px;
  background: url(tr30.png);
}

h2#time_is_scarce {
  width: 255px;
  height: 20px;
  background: url(h2-time-is-scarce.png) no-repeat top left;
  text-indent: -10000px;
}

h2#trails-is-free {
  width: 170px;
  height: 64px;
  text-indent: -10000px;
  background: url(h2-trails-is-free.png) no-repeat top left;
}

#content p, h2, #sidebar ul {
  margin-bottom: 20px;
}

#content p strong {
  color: #336666;
  font-weight: bold;
}

#sidebar p {
  margin-bottom: 5px;
}

#sidebar ul {
	margin-left: 20px;

}

#sidebar li {
  margin-bottom: 5px;
}

#sidebar .sticker {
  width: 125px;
  height: 117px;
  margin: 0 0 3px -20px;
  text-indent: -10000px;
}

#sidebar .sticker a {
  display: block;
  width: 125px;
  height: 117px;
  background: url(sticker-we-like.png) no-repeat top left;
}

#sidebar .sticker a:hover {
  background: url(sticker-we-like-a.png) no-repeat top left;
}

a#try_it {
  width: 121px;
  height: 119px;
  display: block;
  background: url(sticker-try-it.png) no-repeat top center;
  margin-left: 90px;
  text-indent: -10000px;
}

a#try_it:hover {
  background: url(sticker-try-it-a.png) no-repeat top center;
}

/*
Email signup form
*/
                    /*
                    #subForm span.label,
                    #subForm span.spacer,
                    #subForm span.multiple span {width:120px;float:left;} 
                    #subForm span.multiple {float:left;} 
                    #subForm span.button {padding-left:120px;} 
                    #subForm div.clear {clear:both;padding-top:5px;}*/ 

#subForm label {
  font-size: 24px;
  padding-right: 8px;

}

#subForm input {
  border: 1px solid #CCCCCC;
  height: 30px;
  font-size: 24px;
  padding:10px;
}

#subForm input[type=submit] {
  background: none;
  padding: 10px;
  background: #666;
  color: #fff;
  border: none;
  width: 130px;
  height:50px;
  padding:10px;

  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  -ms-border-radius:8px;
  border-radius:8px;
}
#subForm input[type=submit]:hover {
  background: #888;
}


/* 
Signup page markup
*/

body.signup {
	background: white;
}

body.signup #header {
	background: #f0f0f0;
	margin-bottom: 0px;
}

body.signup div#slogan {
	margin-bottom: 25px;
}

body.signup div#slogan h1 {
	width: 416px;
	height: 61px;
	background: url(slogan-sign.png) no-repeat top left;
}

.signup #header h1 a {
  display: block;
  width: 86px;
  height: 35px;
  background: url(logo-sign.png) no-repeat;
  text-indent: -10000px;
  border: none;
  margin-left: -5px;
}

.signup #header a, .signup #footer a {
	color: #336666;
	border-bottom-color: #336666;
}

.signup #header, .signup #footer {
	color: #666666;
}

.signup .content{
  width: 250px;
  padding: 10px;
  background: url(tr46.png);
  margin: 0 0 10px 0;
}

.signup .content.input-fields {
  padding: 10px 10px 0 10px;
}

.signup form#new_user {
	margin-left: 60px;
}

.signup .content .box {
	background: none;
}

.signup .input-fields input {
	border: 1px solid #999999;
	margin-bottom: 10px;
	height: 20px;
}

#user_display_name, #user_email {
	width: 238px;	
}

.signup .create-btn {
	margin: 10px 0 0 -4px;
}

.signup .content.agreement {
	font-size: 12px;
	line-height: 18px;
}

.signup .content.agreement input {
	float: left;
	margin: 2px 0 0 0;
}

.signup .content.agreement p {
	margin-left: 20px;
}

.signup .content.agreement strong {
	color: #336666;
	font-weight: normal;
	display: block;
}

.bg-lines {
width: 670px;
margin: 0 auto;
padding-top: 25px;
background: url(bg-sign.png) no-repeat left -120px;
}

.signup #footer {
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	margin-left: 60px;
	padding: 0;
	position: relative;
	margin-top: 20px;
}


.signup #footer .copy {
	position: absolute;
	top: 0;
	left: -100px;
}

.signup #errorbox {
	background-image: url(trred.png);
	display: none;
}

.signup .errorbox {
	background-image: url(trred.png);
}

.signup #errorbox  ul, .errorbox ul {
	list-style-position: inside;
}

.signup .errorbox h2{
	font-size: 14px;
	color: #fff;
	margin: 0 0 5px 0;
}

.signup .errorbox.content p {
	font-size: 12px;
	margin: 0 0 5px 0;
}

/*#user_display_name, #user_email, #*/
