@import 'yosemite-base';

/* custom top right navigation bar */
body > header > nav ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    text-align: right;
}

body > header > nav ul > li {
    display: inline-block;
    border: 1px solid $secondary;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 5px;
    overflow-x: hidden;
}

body > header > nav ul > li > a {
    font-family: DroidSerif;
    color: $secondary;
    text-decoration: none;
    white-space: nowrap;
}

/* navbar icons are all FontAwesome ones */
body > header > nav ul > li > a:before {
    font-family: FontAwesome;    
}

/* twitter icons */
body > header > nav ul > li:first-child > a:before,
body > header > nav ul > li:first-child + li > a:before {
    content: '\f099\00a0';
}

body > header > nav ul > li:first-child + li {
    margin-right: 50px;
    background-color: $secondary;
}

body > header > nav ul > li:first-child + li > a {
    color: $third;
}

body > header > nav ul > li:last-child {
    width: .9em;
}

body > header > nav ul > li:last-child > a:before {
    content: '\f011\00a0';
    margin-right: 2em;
}

h1 {
    font-family: SalomeFine;
    font-weight: normal;
    font-size: 3.2em;
    color: $secondary;
    padding: 18px 110px 8px;
    background: url('trails-logo.svg') left center no-repeat;
    vertical-align: middle;
    margin-bottom: 35px;
}

h1 + p {
    white-space: pre-line;
    margin-top: 5px;
}

h1 + p,
body > form > label,
body > form + p {
    font-family: DroidSerif;
    color: $primary;
}

h1 + p,
body > form > label {
    font-size: 1.8em;
}

body > form {
    margin-top: 15px;
}

body > form > label {
    display: block;
    margin-bottom: 15px;
}

body > form > input {
    font-size: 1.5em;
    border: 1px solid $secondary;
    font-size: 1.5em;
    line-height: 35px;
}

body > form > input[type="email"] {
    padding: 8px 10px;
}

body > form > input[type="email"]:focus {
    outline: none;
}

body > form > input[type="submit"] {
    padding: 11px 20px 5px;
    color: $third;
    background-color: $secondary;
    font-family: SalomeFine;
    margin-left: -.4em;
}

body > form + p {
    font-size: .75em;
    margin-top: 4px;
}